---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title: string;
  description: string;
  ogImage?: string;
  canonicalURL?: string;
  schema?: string;
}

const { title, description, ogImage, canonicalURL, schema } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} ogImage={ogImage} canonicalURL={canonicalURL} schema={schema} />
    <style is:global>@import '../styles/global.css';</style>
  </head>
  <body>
    <Header />
    <main>{Astro.slot}</main>
    <Footer />
  </body>
</html>
